.app-content {
  margin: 20px;
}

.button {
  cursor: pointer;
}

.individual-info {
  padding-left: 20px;
}

.individual-info-field {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #eeeeff;
  border: 1px solid #e3e3e3;
}

.results {
  width: 100%;
  display: inline-flex ;
}

.results-list-table, .individual-info {
  width: 40%;
  margin: 20px 0;
}

.selection-interface {
  display: inline-flex;
}

.spinner {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #eeffff;
  border: 1px solid #e3e3e3;
  cursor: pointer;
}

.table-row > span {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}